@using PagedList.Mvc
@using PagedList;
@model IPagedList<WebApplication3.Models.Product>


@{ 
    int i = 0;
}



<div class="container">
    <div style="float: right; padding: 10px;">
   
    @using (Html.BeginForm("productlist", "product", FormMethod.Get, new {@class = "form-inline"}))
    {
        <div class="form-group">
            @Html.TextBox("search", null, new {@class = "form-control"})
        </div>
        <input type="submit" value="search" class="btn btn-primary"/>

    }

</div>
<br/>

    <table id="mytable" class="table table-striped table-bordered" cellspacing="0" width="100%">

        <thead>
        <tr>
            <th>SN</th>
            <th>Product Name</th>
            <th>Cost Price</th>
            <th>Sales Price</th>
            <th>Expiry date</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
        </thead>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@{ i = i + 1;} @i</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.SalesPrice</td>
                    <td>@item.ExpireDate</td>
                    <td>@item.Stock</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                   
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                    </td>
                </tr>
            }i++;
        }else
        {
            <tr>
                <td colspan="7" style="color:red;">Records not found!</td>
            </tr>
        }
    </table>








    @Html.PagedListPager(Model, page => Url.Action("Productlist", new {page, search = Request.QueryString["searchBy"]}))

</div>

    <script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
        </script>