
@model WebApplication3.Models.salesmodel.SalesDTO
@using HtmlHelpers.BeginCollectionItem
<tr>
    @using (Html.BeginCollectionItem("ListOfSales"))
    {
        <td>1</td>
        <td>@Html.TextBoxFor(x => x.ProductName,new { @class= "AutoProductName" })</td>
        <td>@Html.TextBoxFor(x => x.Price, new { @class = "Price", @readonly = "readonly" })</td>
        <td>@Html.TextBoxFor(x => x.ExpireDate, "{0:mm/dd/yyyy}", new { @class = "ExpireDate", @type = "date", @readonly="readonly"})</td>
        <td>@Html.TextBoxFor(x => x.Quantity)</td>
        <td>@Html.TextBoxFor(x=> x.Stock,new { @class = "Stock", @readonly = "readonly" })</td>
        <td>@Html.HiddenFor(x => x.Total)<input type="button" value="Delete" class="btnDelete" /></td>

    }
</tr>

<script type="text/javascript">
        $(document).ready(function () {

           

            $('.AutoProductName').autocomplete({
                        source: '@Url.Action("Search","sales")'
                    });

            $(".AutoProductName").on('blur',function (e) {                
                var product = $(this);
                var date = new Date();
                        $.ajax({
                            url: "/sales/GetStock",
                            method:"Get",
                            datatype: "json",
                            data: { productName: $(this).val() },
                            success: function (result) {
                                var dateTime = result.expDate;
                                var date = new Date(parseInt(dateTime.substr(6)));
                                var formatted = date.getFullYear() + "-" +
                                      ("0" + (date.getMonth() + 1)).slice(-2) + "-" +
                                      ("0" + date.getDate()).slice(-2) + " " + date.getHours() + ":" +
                                      date.getMinutes();
                                $(product).closest('tr').find(".Stock").val(result.stock);
                                $(product).closest('tr').find(".Price").val(result.price);
                                $(product).closest('tr').find(".ExpireDate").val(formatted);

                            }


                        });
                    });
                });
</script>